*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.title {
  color: #1b998b;
}

.logo {
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
}

.navbar {
  padding: 1.5rem;
  background-color: #2e294e;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.navbar ul li a {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr max-content;
}

#home-main {
  min-width: 300px;
  max-width: 700px;
  margin: 2.5rem 5rem;
}

#home-main h2 {
  text-align: center;
}

.studio-img {
  width: 100%;
  padding: 0 0.8rem;
}

.p-title {
  text-align: center;
}

.woman-img,
.man-img {
  width: 100%;
}

#home-aside {
  border: 3px solid #2e294e;
  margin: 2.5rem 2.5rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7rem;
  height: max-content;
}

.home-aside h3 {
  margin: 0 0 1rem 0;
}

.names {
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #2e294e;
}

.footer ul {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  padding: 2rem;
}

.footer ul li {
  color: white;
}
